/* FormAddCharacter.css */

/* Section générale du formulaire */

.formAddCharacter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formAddCharacter__section {
    flex-direction: column;
    margin-top: var(--spacing-4);
    padding: var(--spacing-4);
    background-color: var(--light);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
}

/* Titre des sections */
.formAddCharacter__section h3 {
    font-size: 24px;
    color: var(--primary);
    margin-bottom: var(--spacing-3);
}

.formAddCharacter__select-group {
    display: flex;
    gap: var(--spacing-4);
}

/* Groupes d'input */
.formAddCharacter__input-group {
    margin-bottom: var(--spacing-3);
}

/* Labels des inputs */
.formAddCharacter__input-group label {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary);
}

.formAddCharacter__textarea {
    min-width: 100%;
}

/* Champs de saisie */
.formAddCharacter__input-group input {
    padding: var(--spacing-2);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    font-size: 16px;
    background-color: var(--light);
    color: var(--dark);
    box-sizing: border-box;
    min-width: 100%;
}

/* Boutons */
.formAddCharacter__button-group {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    margin-top: var(--spacing-4);
}

.formAddCharacter__button-group>button:only-child {
    margin-left: auto;
}

.formAddCharacter__button-group button,
.formAddCharacter__button-group input[type="submit"] {
    padding: var(--spacing-2) var(--spacing-3);
    border-radius: var(--border-radius);
    font-weight: bold;
    cursor: pointer;
}

.formAddCharacter__button-group button {
    background-color: var(--secondary);
    color: var(--light);
    border: none;
}

.formAddCharacter__button-group button:hover {
    background-color: var(--secondary-dark);
}

.formAddCharacter__button-group input[type="submit"] {
    background-color: var(--primary);
    color: var(--light);
    border: none;
    font-size: 16px;
}

.formAddCharacter__button-group input[type="submit"]:disabled,
.formAddCharacter__button-group button[type="button"]:disabled {
    background-color: var(--dark);
    cursor: not-allowed;
}

.formAddCharacter__button-group input[type="submit"]:not(:disabled):hover {
    background-color: var(--primary-dark);
}

/* Statistiques de personnage */
.formAddCharacter__stats {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.formAddCharacter__stats label {
    font-size: 16px;
    color: var(--primary);
    margin-right: var(--spacing-2);
}

.formAddCharacter__stats button {
    padding: var(--spacing-1) var(--spacing-2);
    background-color: var(--primary);
    color: var(--light);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.formAddCharacter__stats button:hover {
    background-color: var(--primary-dark);
}

/* Point de vie */
h4 {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary);
    margin-top: var(--spacing-4);
}

h4+.formAddCharacter__input-group {
    margin-top: var(--spacing-2);
}

/* Responsivité */
@media (max-width: 800px) {
    .formAddCharacter__section {
        min-width: 100%;
        padding: var(--spacing-2);
    }
}

@media (max-width: 600px) {

    .formAddCharacter__input-group input {
        padding: var(--spacing-1);
    }

    .formAddCharacter__button-group {
        flex-direction: column;
    }

    .formAddCharacter__button-group button,
    .formAddCharacter__button-group input[type="submit"] {
        width: 100%;
        margin-top: var(--spacing-2);
    }
}