.ListFilter {
    flex-basis: 20%;

}

.ListFilter form {
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-items: flex-end;
    flex: 1;
    background-color: var(--secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ListFilter__input-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    flex-basis: calc(20% - 1rem);
    color: var(--primary-dark);
}

.formAddCharacter__input-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    margin-bottom: var(--spacing-3);
}

.ListFilter label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.ListFilter select {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
}

.ListFilter button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: var(--primary);
    color: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.formAddCharacter__button-group {
    display: flex;
    gap: var(--spacing-3);
    justify-content: center;
}

.ListFilter button:hover {
    background-color: var(--primary-dark);
}

@media (max-width: 768px) {
    .ListFilter {
        flex-basis: 100%;
    }

    .ListFilter .input-group {
        flex-basis: 100%;
    }
}